.main-wrapper {
    background-color: #043873;
    display: flex;
    padding: 10px 34px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo img {
    width: 191px;
    height: 34px;
}

.login button {
    background-color: #FFE492;
    color: #000;
    padding: 20px 35px 20px 35px;
}

.btn {
    display: flex;
    gap: 30px;
}
@media(max-width:1152px){
    .navbar{
        display: none;
    }
}
@media(max-width:768px){
    .btn{
        display: none;
    }
    
}
@media(min-width:1920px){
    .main-wrapper{
        justify-content: space-around;
    }
    
}