
  
  .container {
    position: relative;
    height: 100vh;
  }
  
  .hamburger {
    font-size: 36px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 10;
    color: #ffffff;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    color: #043873;
    transition: left 0.3s ease;
    padding-top: 60px;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #043873;
  }
  
  .sidebar a {
    color: #000000;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease;
  }
  

  
  @media (max-width: 600px) {
    .sidebar {
      width: 200px;
    }
  }
  @media (max-width: 1920px) {
   .hamburger{
    display: none;
   }
  }
  @media (max-width: 768px) {
    .hamburger{
        display: block;
    }
  }
  